{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>اتصل بنا</span></li>
            </ul>
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>اتصل بنا</span></h2>
                </div>

                <ul class="icon_link_list">
                    <li><a href="{{menuLink 'index'}}"><i class="icon-back"></i></a></li>
                </ul>
            </div>

            <form action="#" class="form_ animated_wrapper d_2">
                <div class="input_">
                    <label for="name">الاسم الكامل</label>
                    <input type="text" name="name">
                </div>

                <div class="input_">
                    <label for="email">البريد الإلكتروني</label>
                    <input type="text" name="email">
                </div>

                <div class="input_">
                    <label for="phone">رقم الهاتف</label>
                    <input type="text" name="phone">
                </div>

                <div class="input_">
                    <label for="thread">المواضيع</label>
                    <input type="text" name="thread">
                </div>

                <div class="input_ full_">
                    <label for="message">الرسالة</label>
                    <textarea name="message"></textarea>
                </div>

                <div class="btn_group full_ ">
                    <button type="submit" class="btn_">
                        <span>إرسال</span>
                        <i class="icon-arrow-left"></i>
                    </button>
                </div>

            </form>

        </div>
    </section>

    <section class="section_">
        <div class="container">

            <div class="contact_wrapper animated_wrapper d_2">
                <div class="c_item">    

                    <div class="location_image">

                        <svg xmlns="http://www.w3.org/2000/svg" width="210" height="210" viewBox="0 0 210 210">
                            <g id="Ellipse_205" data-name="Ellipse 205" transform="translate(7 7)" fill="none" stroke="#ac4459" stroke-linecap="round" stroke-width="7" stroke-dasharray="357 496">
                                <circle cx="98" cy="98" r="98" stroke="none"/>
                                <circle cx="98" cy="98" r="101.5" fill="none"/>
                            </g>
                        </svg>


                        <div class="img_">
                            <picture>
                                <source srcset="{{assets}}/images/leg-img-01.webp" type="image/webp">
                                <source srcset="{{assets}}/images/leg-img-01.jpg" type="image/jpeg">
                                <img src="{{assets}}/images/leg-img-01.webp" alt="UAE">
                            </picture>
                        </div>
                    </div>

                    <div class="holder_">
                        <h4>أبوظبي</h4>
                        <ul>
                            <li><a href="#"><i class="icon icon-phone"></i><span>+971 24039999</span></a></li>
                            <li><a href="#"><i class="icon icon-printer"></i><span>+971 26777399</span></a></li>
                        </ul>
                    </div>

                </div>
                <div class="c_item">

                    <div class="location_image">

                        <svg xmlns="http://www.w3.org/2000/svg" width="210" height="210" viewBox="0 0 210 210">
                            <g id="Ellipse_205" data-name="Ellipse 205" transform="translate(7 7)" fill="none" stroke="#ac4459" stroke-linecap="round" stroke-width="7" stroke-dasharray="357 496">
                                <circle cx="98" cy="98" r="98" stroke="none"/>
                                <circle cx="98" cy="98" r="101.5" fill="none"/>
                            </g>
                        </svg>
                        
                        <div class="img_">
                            <picture>
                                <source srcset="{{assets}}/images/leg-img-01.webp" type="image/webp">
                                <source srcset="{{assets}}/images/leg-img-01.jpg" type="image/jpeg">
                                <img src="{{assets}}/images/leg-img-01.webp" alt="UAE">
                            </picture>
                        </div>
                    </div>

                    <div class="holder_">
                        <h4>دبي</h4>
                        <ul>
                            <li><a href="#"><i class="icon icon-phone"></i><span>+971 24039999</span></a></li>
                            <li><a href="#"><i class="icon icon-printer"></i><span>+971 26777399</span></a></li>
                        </ul>
                    </div>

                </div>
                <div class="c_item">

                    <div class="holder_">
                        <ul>
                            <li><a href="#"><i class="icon icon-mail"></i><span>uaelaws@moca.gov.ae</span></a></li>
                        </ul>
                    </div>

                    
                </div>
            </div>



        </div>
    </section>

</main>

{{> footer}}
{{> script-page}}