{{> loader}}
{{> header}}

<main class="home_">
    <section class="home_banner">

        <div class="bg_image">
            <img src="{{assets}}/images/banner-pattern.png" alt="LegalApp">
        </div>

        <div class="container">
            <div class="banner_content">
                <h2><span>تشريعات الإمارات</span></h2>
                <p>هي المنصة الرسمية لتشريعات حكومة دولة الإمارات، والتي يتم تطويرها وإدارتها بواسطة مجلس الوزراء بالتنسيق مع كافة الجهات المعنية، وتهدف إلى توفير كافة التشريعات النافذة بالدولة لمختلف الفئات المعنية من مواطنين ومقيمين وقطاع الأعمال والمستثمرين من مختلف دول العالم، من خلال منظومة متكاملة ومحدثة ترتكز على تمكين هذه الفئات للاطلاع على أحدث التشريعات الجديدة وآخر التعديلات على القوانين السارية. تشمل المنصة على حزمة القوانين الاتحادية وتعديلاتها، واللوائح التنفيذية والقرارات التنفيذية لها، ويمكن استعراض هذه التشريعات من خلال اختيار إحدى القطاعات الرئيسية المبنية أدناه، أو باستخدام محرك البحث في المنصة</p>
            </div>
        </div>
    </section>

    <section class="section_ no_padding_top content_block_section">
        <div class="container">
            
            <div class="content_block_wrapper">
                <div class="category_listing">
                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-01.jpg">
                                    <img src="{{assets}}/images/category-01.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>التعليم والرعاية الصحية</p>
                                <div class="no_"><strong>30</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-02.jpg">
                                    <img src="{{assets}}/images/category-02.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>الإقامة والعمل</p>
                                <div class="no_"><strong>45</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-03.jpg">
                                    <img src="{{assets}}/images/category-04.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>القضاء والأمن</p>
                                <div class="no_"><strong>23</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-04.jpg">
                                    <img src="{{assets}}/images/category-04.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>الاقتصاد والصناعة وممارسة الأعمال</p>
                                <div class="no_"><strong>06</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-05.jpg">
                                    <img src="{{assets}}/images/category-05.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>المال والضريبة</p>
                                <div class="no_"><strong>56</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-06.jpg">
                                    <img src="{{assets}}/images/category-06.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>الأحوال والمعاملات المدنية</p>
                                <div class="no_"><strong>75</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-07.jpg">
                                    <img src="{{assets}}/images/category-07.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>الاتصالات والتكنولوجيا</p>
                                <div class="no_"><strong>23</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-08.jpg">
                                    <img src="{{assets}}/images/category-08.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>الطاقة والنقل والبنية التحتية</p>
                                <div class="no_"><strong>56</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-09.jpg">
                                    <img src="{{assets}}/images/category-09.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>الرعاية الاجتماعية</p>
                                <div class="no_"><strong>75</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-10.jpg">
                                    <img src="{{assets}}/images/category-10.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>البيئة والموارد الطبيعية</p>
                                <div class="no_"><strong>23</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>

                    <div class="item_">
                        <a href="#" class="link_">
                            <div class="image_block overlay_ gradient_overlay">
                                <picture>
                                    <source srcset="{{assets}}/images/category-11.jpg">
                                    <img src="{{assets}}/images/category-11.jpg" alt="Category">
                                </picture>
                            </div>

                            <div class="content_">
                                <p>تشريعات أخرى</p>
                                <div class="no_"><strong>56</strong> <span>تشريع</span></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="trending_listing">
                    <div class="inner_">

                        <div class="item_">
                            <div class="trending_title">
                                <p>أحدث التشريعات الجديدة</p>
                            </div>

                            <div class="number_listing_wrapper">
                                <div class="n_item">
                                    <a href="#">
                                        <div class="no_" data-counter>928</div>
                                        <p>قانون اتحادي</p>
                                    </a>
                                </div>

                                <div class="n_item">
                                    <a href="#">
                                        <div class="no_" data-counter>750</div>
                                        <p>لائحة تنفيذية</p>
                                    </a>
                                </div>

                                <div class="n_item">
                                    <a href="#">
                                        <div class="no_" data-counter>1477</div>
                                        <p>قرار تنظيمي</p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item_ bg_ flex_1">
                            <div class="trending_title">
                                <p>أحدث التشريعات الجديدة</p>
                            </div>

                            <div class="trending_listing_table">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <strong>1</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>2</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>3</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>4</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>5</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="item_ flex_1">
                            <div class="trending_title">
                                <p>آخر التعديلات التشريعية</p>
                            </div>

                            <div class="trending_listing_table">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <strong>1</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>2</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>3</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>4</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>5</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="item_ bg_ flex_1">
                            <div class="trending_title">
                                <p>التشريعات الأكثر اطلاعاً</p>
                            </div>

                            <div class="trending_listing_table">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <strong>1</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>2</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>3</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>4</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <strong>5</strong>
                                            <p>قانون مزاولة غير الأطباء والصيادلة لبعض المهن الصحية</p>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section_ no_padding_top">
        <div class="container">

            <div class="title_wrapper have_margin">
                <div class="section_title">
                    <h2><span>القنوات الإعلامية</span></h2>
                </div>
            </div>

            <div class="mediacenter_wrapper">
                <div class="video_block">
                    <a href="{{assets}}/video/banner-2023.mp4" data-fancybox class="link_">
                        <video  loop="" muted="" autoplay="" playsinline>				
                            <source src="{{assets}}/video/banner-2023.mp4" type="video/mp4">
                        </video>

                        <div class="play_icon">
                            <div class="icon_">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="32" viewBox="0 0 28 32">
                                    <path id="Polygon_35" data-name="Polygon 35" d="M16,0,32,28H0Z" transform="translate(28) rotate(90)" fill="#fff"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="section_ no_padding_top">
        <div class="container">

            <div class="title_wrapper have_margin">
                <div class="section_title">
                    <h2><span>الجريدة الرسمية المحلية</span></h2>
                </div>
            </div>

            <div class="gov_listing">
                <div class="item_">
                    <a href="#" class="link_">
                        <div class="icon_">
                            <img src="{{assets}}/images/gov-logo-01.png" alt="GOV">
                        </div>

                        <div class="text_">
                            <p>حكومة أبوظبي</p>
                        </div>
                    </a>
                </div>

                <div class="item_">
                    <a href="#" class="link_">
                        <div class="icon_">
                            <img src="{{assets}}/images/gov-logo-02.png" alt="GOV">
                        </div>

                        <div class="text_">
                            <p>حكومة أبوظبي</p>
                        </div>
                    </a>
                </div>

                <div class="item_">
                    <a href="#" class="link_">
                        <div class="icon_">
                            <img src="{{assets}}/images/gov-logo-03.png" alt="GOV">
                        </div>

                        <div class="text_">
                            <p>حكومة أبوظبي</p>
                        </div>
                    </a>
                </div>

                <div class="item_">
                    <a href="#" class="link_">
                        <div class="icon_">
                            <img src="{{assets}}/images/gov-logo-04.png" alt="GOV">
                        </div>

                        <div class="text_">
                            <p>حكومة أبوظبي</p>
                        </div>
                    </a>
                </div>

                <div class="item_">
                    <a href="#" class="link_">
                        <div class="icon_">
                            <img src="{{assets}}/images/gov-logo-05.png" alt="GOV">
                        </div>

                        <div class="text_">
                            <p>حكومة أبوظبي</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>


    <div class="scroll_indicator">
        <div class="icon_">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33.574" height="46.512" viewBox="0 0 33.574 46.512">
            <defs>
                <linearGradient id="linear-gradient" x1="0.011" y1="0.038" x2="0.978" y2="0.949" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#ac4459"/>
                <stop offset="1" stop-color="#344b61"/>
                </linearGradient>
            </defs>
            <g id="Group_5132" data-name="Group 5132" transform="translate(-2342.72 -116.49)">
                <path id="Path_6077" data-name="Path 6077" d="M2376.213,139.762c0,2.55.135,5.108-.026,7.648a16.568,16.568,0,0,1-11.745,14.839,16.766,16.766,0,0,1-21.476-13.436,19.152,19.152,0,0,1-.2-2.732c-.021-4.222-.09-8.445.009-12.664.168-7.191,3.489-12.477,10.053-15.468a16.67,16.67,0,0,1,23.029,11.717,21.982,21.982,0,0,1,.406,3.87c.065,2.074.017,4.151.017,6.226Zm-3.187-.011c0-1.442.027-2.885-.007-4.326a35.8,35.8,0,0,0-.221-4.468,13.5,13.5,0,0,0-26.791,2.47c-.005,4.185-.012,8.371.008,12.556a17.1,17.1,0,0,0,.206,2.57,13.5,13.5,0,0,0,26.8-2.42C2373.031,144.006,2373.025,141.879,2373.025,139.751Z" transform="translate(0 0)" fill="url(#linear-gradient)"/>
                <g class="arrow_anim">
                    <path id="Path_6078" data-name="Path 6078" d="M2414.045,192.938c.219-.2.348-.314.468-.434,1.058-1.056,2.11-2.118,3.173-3.169a1.648,1.648,0,0,1,2.361-.1,1.607,1.607,0,0,1-.039,2.356q-3.189,3.227-6.4,6.428a1.59,1.59,0,0,1-2.354-.009q-3.192-3.187-6.367-6.391a1.613,1.613,0,0,1-.094-2.355,1.649,1.649,0,0,1,2.4.08c1.063,1.051,2.115,2.113,3.173,3.168.118.118.246.226.458.42v-.673q0-6.226,0-12.451a1.709,1.709,0,0,1,.626-1.49,1.6,1.6,0,0,1,2.591,1.138c.015.193.012.387.012.58q0,6.094,0,12.187Z" transform="translate(-52.916 -52.802)" fill="url(#linear-gradient)"/>
                </g>
            </g>
            </svg>

        </div>
    </div>

</main>


{{> footer}}
{{> script-home}}