{{> loader}}
{{> header}}
{{> banner}}

<main class="home_">
    <section class="section_" id="legislation">
        <div class="container">

            <div class="title_wrapper">
                <div class="section_title">
                    <h2><span>التشريعات</span></h2>
                </div>
            </div>

            <div class="text_area t_animation d2">
                <p>لضمان تجربة مستخدم سهلة للموقع، يرجى اختيار مجال اهتمامك من مجموعات التشريعات التالية، بحيث سيقوم الموقع بعرض التشريعات ذات الصلة بالمجال المحدد، ويمكنك استعراض كافة التشريعات من خلال الضغط على رابط "عرض كافة التشريعات" بحيث سيقوم الموقع بعرض التشريعات المتوفرة مرتبة بحسب سنة إصدار التشريع </p>
            </div>

            <div class="legislation_wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-01.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-01.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-01.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>

                                    <div class="content_">
                                        <p>مواطن/مقيم</p>
                                        <div class="btn_group">
                                            <div class="btn_ white_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-02.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-02.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-02.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="content_">
                                        <p>مواطن/مقيم</p>
                                        <div class="btn_group">
                                            <div class="btn_ white_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-03.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-03.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-03.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="content_">
                                        <p>زائر/سائح</p>
                                        <div class="btn_group">
                                            <div class="btn_ white_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-01.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-01.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-01.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>

                                    <div class="content_">
                                        <p>مواطن/مقيم</p>
                                        <div class="btn_group">
                                            <div class="btn_ white_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-02.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-02.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-02.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="content_">
                                        <p>مواطن/مقيم</p>
                                        <div class="btn_group">
                                            <div class="btn_ white_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-03.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-03.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-03.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="content_">
                                        <p>زائر/سائح</p>
                                        <div class="btn_group">
                                            <div class="btn_ white_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="btn_group center_ m_t_sm t_animation d7">
                    <div class="swiper-pagination"></div>
                    <a href="{{menuLink 'laws'}}" class="a_link"><span>عرض كافة التشريعات</span></a>
                </div>
            </div>

        </div>
    </section>

    <section class="section_" id="statistics">
        <div class="container">
            <div class="title_wrapper">
                <div class="section_title">
                    <h2><span>إحصائيات</span></h2>
                </div>
            </div>

            <div class="statistics_wrapper">
                <div class="s_item">
                    <div class="bg_layer">
                    <svg x="0px" y="0px" viewBox="0 0 328 328" enable-background="new 0 0 328 328" xml:space="preserve">
                            <ellipse fill="none" stroke="#A18561" stroke-width="2" stroke-dasharray="5" cx="164" cy="164" rx="163" ry="163"/>
                            <ellipse fill="none" stroke="#fff" stroke-width="2" cx="164" cy="164" rx="163" ry="163" class="ring_1"/>
                        </svg>
                    </div>
                    <div class="content_">
                        <h4 data-counter>158</h4>
                        <p>قوانين</p>
                    </div>
                </div>

                <div class="s_item">
                    <div class="bg_layer">
                    <svg x="0px" y="0px" viewBox="0 0 328 328" enable-background="new 0 0 328 328" xml:space="preserve">
                            <ellipse fill="none" stroke="#A18561" stroke-width="2" stroke-dasharray="5" cx="164" cy="164" rx="163" ry="163"/>
                            <ellipse fill="none" stroke="#fff" stroke-width="2" cx="164" cy="164" rx="163" ry="163" class="ring_1"/>
                        </svg>
                    </div>
                    <div class="content_">
                        <h4 data-counter>38</h4>
                        <p>لوائح تنفيذية</p>
                    </div>
                </div>

                <div class="s_item">
                    <div class="bg_layer">
                    <svg x="0px" y="0px" viewBox="0 0 328 328" enable-background="new 0 0 328 328" xml:space="preserve">
                            <ellipse fill="none" stroke="#A18561" stroke-width="2" stroke-dasharray="5" cx="164" cy="164" rx="163" ry="163"/>
                            <ellipse fill="none" stroke="#fff" stroke-width="2" cx="164" cy="164" rx="163" ry="163" class="ring_1"/>
                        </svg>
                    </div>
                    <div class="content_">
                        <h4 data-counter>145</h4>
                        <p>قرارات تنظيمية</p>
                    </div>
                </div>

                <div class="s_item">
                    <div class="bg_layer">
                    <svg x="0px" y="0px" viewBox="0 0 328 328" enable-background="new 0 0 328 328" xml:space="preserve">
                            <ellipse fill="none" stroke="#A18561" stroke-width="2" stroke-dasharray="5" cx="164" cy="164" rx="163" ry="163"/>
                            <ellipse fill="none" stroke="#fff" stroke-width="2" cx="164" cy="164" rx="163" ry="163" class="ring_1"/>
                        </svg>
                    </div>
                    <div class="content_">
                        <h4 data-counter>1</h4>
                        <p>مراسيم اتحادية</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_" id="most-watched">
        <div class="container">
            <div class="title_wrapper">
                <div class="section_title">
                    <h2><span>التشريعات الأكثر مشاهدة</span></h2>
                </div>
            </div>

            <div class="most_watched_wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">

                                    <div class="bg_">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="115.162" height="73.388" viewBox="0 0 115.162 73.388">
                                            <g id="Group_316" data-name="Group 316" transform="translate(728.185 -64.975)" opacity="0.05">
                                                <path id="Path_4722" data-name="Path 4722" d="M-613.023,102.337A24.3,24.3,0,0,1-614.7,105.1c-8.118,10.162-17.522,18.885-28.842,25.4a55.378,55.378,0,0,1-24.045,7.759,48.028,48.028,0,0,1-20.478-3.223c-9.952-3.78-18.5-9.762-26.312-16.88a109.222,109.222,0,0,1-12.578-13.6c-1.636-2.1-1.646-3.7,0-5.784,8.174-10.366,17.683-19.254,29.162-25.876,9.014-5.2,18.638-8.34,29.194-7.873a51.514,51.514,0,0,1,20.579,5.464c13.627,6.692,24.532,16.647,33.87,28.45a13.624,13.624,0,0,1,1.125,2.052Zm-106.581-.754c.423.5.71.891,1.044,1.233,3.5,3.592,6.854,7.352,10.555,10.727,7.139,6.509,15.081,11.816,24.32,14.958a39.123,39.123,0,0,0,17.038,2.039A50.762,50.762,0,0,0-646,123.119a95.529,95.529,0,0,0,21.845-18.558c.843-.939,1.645-1.914,2.549-2.969-2.211-2.391-4.285-4.757-6.49-6.994-7.418-7.528-15.626-13.986-25.4-18.227a43.352,43.352,0,0,0-15.289-3.753c-8.172-.385-15.688,1.9-22.847,5.6a84.573,84.573,0,0,0-21.22,16.1C-715.161,96.645-717.329,99.122-719.6,101.583Z" fill="#fff"/>
                                                <path id="Path_4723" data-name="Path 4723" d="M-559.064,137.276a22.762,22.762,0,0,1-22.905,22.659,22.751,22.751,0,0,1-22.6-22.847,22.756,22.756,0,0,1,22.9-22.66A22.757,22.757,0,0,1-559.064,137.276Zm-7.589-.052A15.186,15.186,0,0,0-581.75,122,15.221,15.221,0,0,0-597,137.2a15.208,15.208,0,0,0,15.164,15.165A15.186,15.186,0,0,0-566.652,137.224Z" transform="translate(-88.788 -35.521)" fill="#fff"/>
                                            </g>
                                        </svg>
                                    </div>

                                    <div class="content_">
                                        <h4>217</h4>
                                        <p>دخول وإقامة الأجانب</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">

                                    <div class="bg_">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="115.162" height="73.388" viewBox="0 0 115.162 73.388">
                                            <g id="Group_316" data-name="Group 316" transform="translate(728.185 -64.975)" opacity="0.05">
                                                <path id="Path_4722" data-name="Path 4722" d="M-613.023,102.337A24.3,24.3,0,0,1-614.7,105.1c-8.118,10.162-17.522,18.885-28.842,25.4a55.378,55.378,0,0,1-24.045,7.759,48.028,48.028,0,0,1-20.478-3.223c-9.952-3.78-18.5-9.762-26.312-16.88a109.222,109.222,0,0,1-12.578-13.6c-1.636-2.1-1.646-3.7,0-5.784,8.174-10.366,17.683-19.254,29.162-25.876,9.014-5.2,18.638-8.34,29.194-7.873a51.514,51.514,0,0,1,20.579,5.464c13.627,6.692,24.532,16.647,33.87,28.45a13.624,13.624,0,0,1,1.125,2.052Zm-106.581-.754c.423.5.71.891,1.044,1.233,3.5,3.592,6.854,7.352,10.555,10.727,7.139,6.509,15.081,11.816,24.32,14.958a39.123,39.123,0,0,0,17.038,2.039A50.762,50.762,0,0,0-646,123.119a95.529,95.529,0,0,0,21.845-18.558c.843-.939,1.645-1.914,2.549-2.969-2.211-2.391-4.285-4.757-6.49-6.994-7.418-7.528-15.626-13.986-25.4-18.227a43.352,43.352,0,0,0-15.289-3.753c-8.172-.385-15.688,1.9-22.847,5.6a84.573,84.573,0,0,0-21.22,16.1C-715.161,96.645-717.329,99.122-719.6,101.583Z" fill="#fff"/>
                                                <path id="Path_4723" data-name="Path 4723" d="M-559.064,137.276a22.762,22.762,0,0,1-22.905,22.659,22.751,22.751,0,0,1-22.6-22.847,22.756,22.756,0,0,1,22.9-22.66A22.757,22.757,0,0,1-559.064,137.276Zm-7.589-.052A15.186,15.186,0,0,0-581.75,122,15.221,15.221,0,0,0-597,137.2a15.208,15.208,0,0,0,15.164,15.165A15.186,15.186,0,0,0-566.652,137.224Z" transform="translate(-88.788 -35.521)" fill="#fff"/>
                                            </g>
                                        </svg>
                                    </div>

                                    <div class="content_">
                                        <h4>510</h4>
                                        <p>العمل والعمال </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">

                                    <div class="bg_">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="115.162" height="73.388" viewBox="0 0 115.162 73.388">
                                            <g id="Group_316" data-name="Group 316" transform="translate(728.185 -64.975)" opacity="0.05">
                                                <path id="Path_4722" data-name="Path 4722" d="M-613.023,102.337A24.3,24.3,0,0,1-614.7,105.1c-8.118,10.162-17.522,18.885-28.842,25.4a55.378,55.378,0,0,1-24.045,7.759,48.028,48.028,0,0,1-20.478-3.223c-9.952-3.78-18.5-9.762-26.312-16.88a109.222,109.222,0,0,1-12.578-13.6c-1.636-2.1-1.646-3.7,0-5.784,8.174-10.366,17.683-19.254,29.162-25.876,9.014-5.2,18.638-8.34,29.194-7.873a51.514,51.514,0,0,1,20.579,5.464c13.627,6.692,24.532,16.647,33.87,28.45a13.624,13.624,0,0,1,1.125,2.052Zm-106.581-.754c.423.5.71.891,1.044,1.233,3.5,3.592,6.854,7.352,10.555,10.727,7.139,6.509,15.081,11.816,24.32,14.958a39.123,39.123,0,0,0,17.038,2.039A50.762,50.762,0,0,0-646,123.119a95.529,95.529,0,0,0,21.845-18.558c.843-.939,1.645-1.914,2.549-2.969-2.211-2.391-4.285-4.757-6.49-6.994-7.418-7.528-15.626-13.986-25.4-18.227a43.352,43.352,0,0,0-15.289-3.753c-8.172-.385-15.688,1.9-22.847,5.6a84.573,84.573,0,0,0-21.22,16.1C-715.161,96.645-717.329,99.122-719.6,101.583Z" fill="#fff"/>
                                                <path id="Path_4723" data-name="Path 4723" d="M-559.064,137.276a22.762,22.762,0,0,1-22.905,22.659,22.751,22.751,0,0,1-22.6-22.847,22.756,22.756,0,0,1,22.9-22.66A22.757,22.757,0,0,1-559.064,137.276Zm-7.589-.052A15.186,15.186,0,0,0-581.75,122,15.221,15.221,0,0,0-597,137.2a15.208,15.208,0,0,0,15.164,15.165A15.186,15.186,0,0,0-566.652,137.224Z" transform="translate(-88.788 -35.521)" fill="#fff"/>
                                            </g>
                                        </svg>
                                    </div>

                                    <div class="content_">
                                        <h4>174</h4>
                                        <p>الأجهزة والاتصالات اللاسلكية </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">

                                    <div class="bg_">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="115.162" height="73.388" viewBox="0 0 115.162 73.388">
                                            <g id="Group_316" data-name="Group 316" transform="translate(728.185 -64.975)" opacity="0.05">
                                                <path id="Path_4722" data-name="Path 4722" d="M-613.023,102.337A24.3,24.3,0,0,1-614.7,105.1c-8.118,10.162-17.522,18.885-28.842,25.4a55.378,55.378,0,0,1-24.045,7.759,48.028,48.028,0,0,1-20.478-3.223c-9.952-3.78-18.5-9.762-26.312-16.88a109.222,109.222,0,0,1-12.578-13.6c-1.636-2.1-1.646-3.7,0-5.784,8.174-10.366,17.683-19.254,29.162-25.876,9.014-5.2,18.638-8.34,29.194-7.873a51.514,51.514,0,0,1,20.579,5.464c13.627,6.692,24.532,16.647,33.87,28.45a13.624,13.624,0,0,1,1.125,2.052Zm-106.581-.754c.423.5.71.891,1.044,1.233,3.5,3.592,6.854,7.352,10.555,10.727,7.139,6.509,15.081,11.816,24.32,14.958a39.123,39.123,0,0,0,17.038,2.039A50.762,50.762,0,0,0-646,123.119a95.529,95.529,0,0,0,21.845-18.558c.843-.939,1.645-1.914,2.549-2.969-2.211-2.391-4.285-4.757-6.49-6.994-7.418-7.528-15.626-13.986-25.4-18.227a43.352,43.352,0,0,0-15.289-3.753c-8.172-.385-15.688,1.9-22.847,5.6a84.573,84.573,0,0,0-21.22,16.1C-715.161,96.645-717.329,99.122-719.6,101.583Z" fill="#fff"/>
                                                <path id="Path_4723" data-name="Path 4723" d="M-559.064,137.276a22.762,22.762,0,0,1-22.905,22.659,22.751,22.751,0,0,1-22.6-22.847,22.756,22.756,0,0,1,22.9-22.66A22.757,22.757,0,0,1-559.064,137.276Zm-7.589-.052A15.186,15.186,0,0,0-581.75,122,15.221,15.221,0,0,0-597,137.2a15.208,15.208,0,0,0,15.164,15.165A15.186,15.186,0,0,0-566.652,137.224Z" transform="translate(-88.788 -35.521)" fill="#fff"/>
                                            </g>
                                        </svg>
                                    </div>

                                    <div class="content_">
                                        <h4>217</h4>
                                        <p>دخول وإقامة الأجانب</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">

                                    <div class="bg_">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="115.162" height="73.388" viewBox="0 0 115.162 73.388">
                                            <g id="Group_316" data-name="Group 316" transform="translate(728.185 -64.975)" opacity="0.05">
                                                <path id="Path_4722" data-name="Path 4722" d="M-613.023,102.337A24.3,24.3,0,0,1-614.7,105.1c-8.118,10.162-17.522,18.885-28.842,25.4a55.378,55.378,0,0,1-24.045,7.759,48.028,48.028,0,0,1-20.478-3.223c-9.952-3.78-18.5-9.762-26.312-16.88a109.222,109.222,0,0,1-12.578-13.6c-1.636-2.1-1.646-3.7,0-5.784,8.174-10.366,17.683-19.254,29.162-25.876,9.014-5.2,18.638-8.34,29.194-7.873a51.514,51.514,0,0,1,20.579,5.464c13.627,6.692,24.532,16.647,33.87,28.45a13.624,13.624,0,0,1,1.125,2.052Zm-106.581-.754c.423.5.71.891,1.044,1.233,3.5,3.592,6.854,7.352,10.555,10.727,7.139,6.509,15.081,11.816,24.32,14.958a39.123,39.123,0,0,0,17.038,2.039A50.762,50.762,0,0,0-646,123.119a95.529,95.529,0,0,0,21.845-18.558c.843-.939,1.645-1.914,2.549-2.969-2.211-2.391-4.285-4.757-6.49-6.994-7.418-7.528-15.626-13.986-25.4-18.227a43.352,43.352,0,0,0-15.289-3.753c-8.172-.385-15.688,1.9-22.847,5.6a84.573,84.573,0,0,0-21.22,16.1C-715.161,96.645-717.329,99.122-719.6,101.583Z" fill="#fff"/>
                                                <path id="Path_4723" data-name="Path 4723" d="M-559.064,137.276a22.762,22.762,0,0,1-22.905,22.659,22.751,22.751,0,0,1-22.6-22.847,22.756,22.756,0,0,1,22.9-22.66A22.757,22.757,0,0,1-559.064,137.276Zm-7.589-.052A15.186,15.186,0,0,0-581.75,122,15.221,15.221,0,0,0-597,137.2a15.208,15.208,0,0,0,15.164,15.165A15.186,15.186,0,0,0-566.652,137.224Z" transform="translate(-88.788 -35.521)" fill="#fff"/>
                                            </g>
                                        </svg>
                                    </div>

                                    <div class="content_">
                                        <h4>510</h4>
                                        <p>العمل والعمال </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">

                                    <div class="bg_">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="115.162" height="73.388" viewBox="0 0 115.162 73.388">
                                            <g id="Group_316" data-name="Group 316" transform="translate(728.185 -64.975)" opacity="0.05">
                                                <path id="Path_4722" data-name="Path 4722" d="M-613.023,102.337A24.3,24.3,0,0,1-614.7,105.1c-8.118,10.162-17.522,18.885-28.842,25.4a55.378,55.378,0,0,1-24.045,7.759,48.028,48.028,0,0,1-20.478-3.223c-9.952-3.78-18.5-9.762-26.312-16.88a109.222,109.222,0,0,1-12.578-13.6c-1.636-2.1-1.646-3.7,0-5.784,8.174-10.366,17.683-19.254,29.162-25.876,9.014-5.2,18.638-8.34,29.194-7.873a51.514,51.514,0,0,1,20.579,5.464c13.627,6.692,24.532,16.647,33.87,28.45a13.624,13.624,0,0,1,1.125,2.052Zm-106.581-.754c.423.5.71.891,1.044,1.233,3.5,3.592,6.854,7.352,10.555,10.727,7.139,6.509,15.081,11.816,24.32,14.958a39.123,39.123,0,0,0,17.038,2.039A50.762,50.762,0,0,0-646,123.119a95.529,95.529,0,0,0,21.845-18.558c.843-.939,1.645-1.914,2.549-2.969-2.211-2.391-4.285-4.757-6.49-6.994-7.418-7.528-15.626-13.986-25.4-18.227a43.352,43.352,0,0,0-15.289-3.753c-8.172-.385-15.688,1.9-22.847,5.6a84.573,84.573,0,0,0-21.22,16.1C-715.161,96.645-717.329,99.122-719.6,101.583Z" fill="#fff"/>
                                                <path id="Path_4723" data-name="Path 4723" d="M-559.064,137.276a22.762,22.762,0,0,1-22.905,22.659,22.751,22.751,0,0,1-22.6-22.847,22.756,22.756,0,0,1,22.9-22.66A22.757,22.757,0,0,1-559.064,137.276Zm-7.589-.052A15.186,15.186,0,0,0-581.75,122,15.221,15.221,0,0,0-597,137.2a15.208,15.208,0,0,0,15.164,15.165A15.186,15.186,0,0,0-566.652,137.224Z" transform="translate(-88.788 -35.521)" fill="#fff"/>
                                            </g>
                                        </svg>
                                    </div>
                                    
                                    <div class="content_">
                                        <h4>174</h4>
                                        <p>الأجهزة والاتصالات اللاسلكية </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="btn_group center_ m_t_sm t_animation d7">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
</main>

<div id="introPopup" class="intro_popup">
    <div class="inner_grid">

          <div class="image_box">
            <div class="img_">
                <picture>
                    <source srcset="{{assets}}/images/banner-img-02.webp" type="image/webp">
                    <source srcset="{{assets}}/images/banner-img-02.jpg" type="image/jpeg">
                    <img src="{{assets}}/images/banner-img-02.webp" alt="UAE">
                </picture>
            </div>
        </div>

        <div class="content_area">
            <div class="text_area sm_">
                <p>وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.</p>

                <h4>Related Law</h4>
                <p>قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</p>

                <div class="btn_group">
                    <a href="{{menuLink 'participate'}}" class="btn_">
                        <span>يشارك</span>
                        <i class="icon-arrow-left"></i>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>

{{> footer}} 
{{> script-home}}
