{{> loader}}
{{> header}}

<main class="home_">
    <section class="section_" id="legislation">
        <div class="container">

            <div class="title_grid margin_bottom">
                <div class="title_wrapper">
                    <div class="section_title">
                        <h2><span>التشريعات</span></h2>
                    </div>
                </div>

                <div class="text_area t_animation d2">
                    <p>لضمان تجربة مستخدم سهلة للموقع، يرجى اختيار مجال اهتمامك من مجموعات التشريعات التالية، بحيث سيقوم
                        الموقع بعرض التشريعات ذات الصلة بالمجال المحدد، ويمكنك استعراض كافة التشريعات من خلال الضغط على رابط
                        "عرض كافة التشريعات" بحيث سيقوم الموقع بعرض التشريعات المتوفرة مرتبة بحسب سنة إصدار التشريع </p>
                </div>
            </div>

            

            <div class="legislation_wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-01.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-01.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-01.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>

                                    <div class="content_">
                                        <h4>مواطن/مقيم</h4>
                                        <p>تتصمن التشريعات التالية أهم القوانين الخاصة بسكان دولة الإمارات العربية المتحدة، والتي تتعلق بأسرة المواطن/المقيم وتنظيمها، والقوانين الخاصة بالعمل والعمال، والتأمينات الاجتماعية مثل التأمين ضد التعطل عن العمل</p>
                                        <div class="btn_group">
                                            <div class="btn_ plane_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-02.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-02.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-02.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="content_">
                                        <h4>مواطن/مقيم</h4>
                                        <p>تتصمن التشريعات التالية أهم القوانين الخاصة بسكان دولة الإمارات العربية المتحدة، والتي تتعلق بأسرة المواطن/المقيم وتنظيمها، والقوانين الخاصة بالعمل والعمال، والتأمينات الاجتماعية مثل التأمين ضد التعطل عن العمل</p>
                                        <div class="btn_group">
                                            <div class="btn_ plane_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-03.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-03.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-03.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="content_">
                                        <h4>زائر/سائح</h4>
                                        <p>تتصمن التشريعات التالية أهم القوانين الخاصة بسكان دولة الإمارات العربية المتحدة، والتي تتعلق بأسرة المواطن/المقيم وتنظيمها، والقوانين الخاصة بالعمل والعمال، والتأمينات الاجتماعية مثل التأمين ضد التعطل عن العمل</p>
                                        <div class="btn_group">
                                            <div class="btn_ plane_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-01.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-01.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-01.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>

                                    <div class="content_">
                                        <h4>مواطن/مقيم</h4>
                                        <p>تتصمن التشريعات التالية أهم القوانين الخاصة بسكان دولة الإمارات العربية المتحدة، والتي تتعلق بأسرة المواطن/المقيم وتنظيمها، والقوانين الخاصة بالعمل والعمال، والتأمينات الاجتماعية مثل التأمين ضد التعطل عن العمل</p>
                                        <div class="btn_group">
                                            <div class="btn_ plane_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-02.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-02.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-02.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="content_">
                                        <h4>مواطن/مقيم</h4>
                                        <p>تتصمن التشريعات التالية أهم القوانين الخاصة بسكان دولة الإمارات العربية المتحدة، والتي تتعلق بأسرة المواطن/المقيم وتنظيمها، والقوانين الخاصة بالعمل والعمال، والتأمينات الاجتماعية مثل التأمين ضد التعطل عن العمل</p>
                                        <div class="btn_group">
                                            <div class="btn_ plane_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="item_ t_animation">
                                <a href="{{menuLink 'residents-laws'}}" class="link_">
                                    <div class="image_box">
                                        <div class="img_">
                                            <picture>
                                                <source srcset="{{assets}}/images/leg-img-03.webp" type="image/webp">
                                                <source srcset="{{assets}}/images/leg-img-03.jpg" type="image/jpeg">
                                                <img src="{{assets}}/images/leg-img-03.webp" alt="UAE">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="content_">
                                        <h4>زائر/سائح</h4>
                                        <p>تتصمن التشريعات التالية أهم القوانين الخاصة بسكان دولة الإمارات العربية المتحدة، والتي تتعلق بأسرة المواطن/المقيم وتنظيمها، والقوانين الخاصة بالعمل والعمال، والتأمينات الاجتماعية مثل التأمين ضد التعطل عن العمل</p>
                                        <div class="btn_group">
                                            <div class="btn_ plane_">
                                                <span>عرض</span>
                                                <i class="icon-arrow-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="btn_group center_ m_t_md t_animation d7">
                    <a href="{{menuLink 'laws'}}" class="btn_"><span>عرض كافة التشريعات</span><i class="icon-arrow-left"></i></a>
                </div>
            </div>

        </div>
    </section>

    <section class="section_" id="management">
        <div class="container">

            <div class="title_wrapper">
                <div class="section_title">
                    <h2><span>  أحدث التشريعات</span></h2>
                </div>
            </div>

            <div class="management_wrapper">
                <div class="calendar_wrapper">
                    <div id="calendar"></div>
                </div>

                <div class="calendar_swiper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item_">
                                    <div class="title_">
                                        <h4>30 ديسمبر 2021</h4>
                                    </div>

                                    <div class="text_area">
                                        <p>قرار مجلس الوزراء رقم (18) لسنة 2023  بشأن اللائحة التنظيمية لتصاريح الأنشطة الفضائية والأنشطة الأخرى ذات الصلة بالقطاع الفضائي</p>
                                    </div>

                                    <div class="tags_">
                                        <div class="tag_">معدل</div>
                                    </div>

                                    <div class="btn_group">
                                        <a href="#" class="btn_">
                                            <span>قراءة المزيد</span><i class="icon-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="item_">
                                    <div class="title_">
                                        <h4>30 ديسمبر 2021</h4>
                                    </div>

                                    <div class="text_area">
                                        <p>قرار مجلس الوزراء رقم (18) لسنة 2023  بشأن اللائحة التنظيمية لتصاريح الأنشطة الفضائية والأنشطة الأخرى ذات الصلة بالقطاع الفضائي</p>
                                    </div>

                                    <div class="tags_">
                                        <div class="tag_">معدل</div>
                                    </div>

                                    <div class="btn_group">
                                        <a href="#" class="btn_">
                                            <span>قراءة المزيد</span><i class="icon-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="item_">
                                    <div class="title_">
                                        <h4>30 ديسمبر 2021</h4>
                                    </div>

                                    <div class="text_area">
                                        <p>قرار مجلس الوزراء رقم (18) لسنة 2023  بشأن اللائحة التنظيمية لتصاريح الأنشطة الفضائية والأنشطة الأخرى ذات الصلة بالقطاع الفضائي</p>
                                    </div>

                                    <div class="tags_">
                                        <div class="tag_">معدل</div>
                                    </div>

                                    <div class="btn_group">
                                        <a href="#" class="btn_">
                                            <span>قراءة المزيد</span><i class="icon-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        window.addEventListener('DOMContentLoaded', ()=> {
           const calendar = new Calendar({
                id: "#calendar",
                eventsData: [ 
                    {
                        start: '2023-08-18',
                        end: '2023-08-18',
                        name: 'Event 1'
                    },
                    {
                        start: '2023-08-18',
                        end: '2023-08-18',
                        name: 'Event 2'
                    },
                    {
                        start: '2023-08-18',
                        end: '2023-08-18',
                        name: 'Event 3'
                    },
                    {
                        start: '2023-08-20',
                        end: '2023-08-20',
                        name: 'Event 2'
                    },
                    {
                        start: '2023-08-26',
                        end: '2023-08-26',
                        name: 'Event 3'
                    }
                ],
                selectedDateClicked: (event)=> {
                    console.log(event)
                }
            });

            var bannerSwiper = new Swiper(".management_wrapper .swiper-container", {
                spaceBetween: 30,
                pagination: {
                    el: ".management_wrapper .swiper-pagination",
                    clickable: true
                },
            });
        })
    </script>

    <section class="section_" id="statistics">
        <div class="container">

            <div class="statistics_wrapper_new">
                <div class="title_">
                    <div class="title_wrapper have_margin">
                        <div class="section_title">
                            <h2><span>إحصائيات</span></h2>
                        </div>
                    </div>
                    <div class="text_area t_animation d2">
                        <p>وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي</p>
                    </div>
                </div>

                <div class="number_wrapper">
                    <div class="item_">
                        <div class="shape_">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="285.711" height="312.901" viewBox="0 0 285.711 312.901">
                                <defs>
                                    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#fff" stop-opacity="0"/>
                                    <stop offset="1" stop-color="#fff"/>
                                    </linearGradient>
                                </defs>
                                <rect id="Rectangle_2175" data-name="Rectangle 2175" width="159.545" height="270.268" rx="79.773" transform="matrix(0.819, 0.574, -0.574, 0.819, 155.019, 0)" opacity="0.07" fill="url(#linear-gradient)"/>
                            </svg>
                        </div>
                        <div class="content_">
                            <h4 data-counter="">313</h4>
                            <p>قرارات مجلس الوزراء</p>
                        </div>
                    </div>

                    <div class="item_">
                        <div class="shape_">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="285.711" height="312.901" viewBox="0 0 285.711 312.901">
                                <defs>
                                    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#fff" stop-opacity="0"/>
                                    <stop offset="1" stop-color="#fff"/>
                                    </linearGradient>
                                </defs>
                                <rect id="Rectangle_2175" data-name="Rectangle 2175" width="159.545" height="270.268" rx="79.773" transform="matrix(0.819, 0.574, -0.574, 0.819, 155.019, 0)" opacity="0.07" fill="url(#linear-gradient)"/>
                            </svg>
                        </div>
                        <div class="content_">
                            <h4 data-counter="">244</h4>
                            <p>قوانين</p>
                        </div>
                    </div>

                    <div class="item_">
                        <div class="shape_">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="285.711" height="312.901" viewBox="0 0 285.711 312.901">
                                <defs>
                                    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#fff" stop-opacity="0"/>
                                    <stop offset="1" stop-color="#fff"/>
                                    </linearGradient>
                                </defs>
                                <rect id="Rectangle_2175" data-name="Rectangle 2175" width="159.545" height="270.268" rx="79.773" transform="matrix(0.819, 0.574, -0.574, 0.819, 155.019, 0)" opacity="0.07" fill="url(#linear-gradient)"/>
                            </svg>
                        </div>
                        <div class="content_">
                            <h4 data-counter="">139</h4>
                            <p>مراسيم بقوانين</p>
                        </div>
                    </div>

                    <div class="item_">
                        <div class="shape_">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="285.711" height="312.901" viewBox="0 0 285.711 312.901">
                                <defs>
                                    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#fff" stop-opacity="0"/>
                                    <stop offset="1" stop-color="#fff"/>
                                    </linearGradient>
                                </defs>
                                <rect id="Rectangle_2175" data-name="Rectangle 2175" width="159.545" height="270.268" rx="79.773" transform="matrix(0.819, 0.574, -0.574, 0.819, 155.019, 0)" opacity="0.07" fill="url(#linear-gradient)"/>
                            </svg>
                        </div>
                        <div class="content_">
                            <h4 data-counter="">120</h4>
                            <p>مراسيم إتحادية</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="section_" id="most-watched">
        <div class="container">
            <div class="title_wrapper">
                <div class="section_title">
                    <h2><span>التشريعات الأكثر مشاهدة</span></h2>
                </div>
            </div>

            <div class="most_watched_wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">
                                    <div class="content_">
                                        <p>قرار مجلس الوزراء رقم (18) لسنة 2022 في شأن تصنيف منشآت القطاع الخاص الخاضعة لأحكام قانون تنظيم علاقات العمل</p>
                                    </div>

                                    <div class="no_">
                                        <strong>12</strong>
                                        <span>مشاهدة</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">
                                    <div class="content_">
                                       <p>قرار مجلس الوزراء رقم (15) لسنة 2023 بشأن اللائحة التنفيذية للقانون الاتحادي رقم (8) لسنة 2021 في شأن الحصول على الموارد الوراثية ومشتقاتها والتقاسم العادل والمنصف للمنافع الناشئة عن استخدامه</p>
                                    </div>

                                    <div class="no_">
                                        <strong>08</strong>
                                        <span>مشاهدة</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="m_item">
                                <a href="#" class="link_">
                                    <div class="content_">
                                        <p>اللائحة التنفيذية للقانون الاتحادي رقم (12) لسنة 2014 بشأن تنظيم مهنة مدققي الحسابات</p>
                                    </div>

                                    <div class="no_">
                                        <strong>07</strong>
                                        <span>مشاهدة</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_" id="gazette">
        <div class="container">
            <div class="title_wrapper">
                <div class="section_title">
                    <h2><span> الجريدة الرسمية</span></h2>
                </div>
            </div>

            <div class="gazette_wrapper">
                <div class="item_">
                    <a href="#" class="link_">

                        <div class="image_box">

                             <div class="img_">
                                <picture>
                                    <source srcset="{{assets}}/images/leg-img-02.webp" type="image/webp">
                                    <source srcset="{{assets}}/images/leg-img-02.jpg" type="image/jpeg">
                                    <img src="{{assets}}/images/leg-img-02.webp" alt="UAE">
                                </picture>
                            </div>
                            
                            <div class="shape_">
                                <svg xmlns="http://www.w3.org/2000/svg" width="823" height="505" viewBox="0 0 823 505">
                                    <g id="Subtraction_1" data-name="Subtraction 1" transform="translate(0 -46)" fill="#414a60">
                                        <path d="M 822.4996337890625 550.4998168945312 L 0.5000168681144714 550.4998168945312 L 0.5000168681144714 46.49992752075195 L 822.4996337890625 46.50002670288086 L 822.4996337890625 550.4998168945312 Z M 472.1247253417969 59.22812652587891 C 422.2969055175781 59.23212814331055 375.51171875 83.56592559814453 346.9742126464844 124.320930480957 L 225.8414154052734 297.3161315917969 C 177.5732116699219 366.2516174316406 194.3866119384766 461.6040344238281 263.3214111328125 509.8726196289062 C 289.1197204589844 527.9368286132812 319.3392028808594 537.4853515625 350.7127075195312 537.4859008789062 L 350.7264099121094 537.4859008789062 C 400.5542297363281 537.4822998046875 447.3394165039062 513.1483154296875 475.8769226074219 472.3926391601562 L 597.0097045898438 299.3973388671875 C 620.39208984375 266.0041198730469 629.3707275390625 225.5040283203125 622.2916259765625 185.3577270507812 C 615.2125244140625 145.2110290527344 592.9232177734375 110.2241287231445 559.5297241210938 86.84182739257812 C 533.7304077148438 68.77682495117188 503.5104064941406 59.22812652587891 472.1368103027344 59.22812652587891 L 472.1247253417969 59.22812652587891 Z" stroke="none"/>
                                        <path d="M 821.9995727539062 549.9998779296875 L 821.9995727539062 46.99998092651367 L 1.000039100646973 46.99987030029297 L 1.000039100646973 549.9998779296875 L 821.9995727539062 549.9998779296875 M 472.1246032714844 58.72809219360352 L 472.1368103027344 58.72809219360352 C 503.6135864257812 58.72809219360352 533.9326782226562 68.30809020996094 559.8164672851562 86.43231964111328 C 593.3194580078125 109.8910903930664 615.6818237304688 144.9927673339844 622.783935546875 185.2708740234375 C 629.8862915039062 225.5486450195312 620.8782348632812 266.1813049316406 597.4192504882812 299.68408203125 L 476.2864685058594 472.6793212890625 C 447.6556091308594 513.5686645507812 400.7172546386719 537.9822998046875 350.7263793945312 537.9859008789062 L 350.7127075195312 537.9859008789062 C 319.2360534667969 537.9852905273438 288.91748046875 528.405517578125 263.0346984863281 510.2821044921875 C 193.8740386962891 461.8555297851562 177.0054779052734 366.1906433105469 225.4319305419922 297.0293273925781 L 346.564697265625 124.0342025756836 C 375.1955871582031 83.14565277099609 422.1338195800781 58.73209381103516 472.1246032714844 58.72809219360352 M 822.9995727539062 551.0009765625 L 822.9995727539062 550.9998779296875 L 3.911675230483525e-05 550.9998779296875 L 3.911675230483525e-05 45.99987030029297 L 822.9995727539062 45.99998092651367 L 822.9995727539062 551.0009765625 Z M 472.1246948242188 59.72809219360352 C 422.4599304199219 59.73209381103516 375.8278198242188 83.98609161376953 347.3838195800781 124.6077575683594 L 226.2510375976562 297.6028747558594 C 178.1409301757812 366.3125305175781 194.8993682861328 461.3526611328125 263.6082763671875 509.4629821777344 C 289.3220520019531 527.4679565429688 319.4423828125 536.9852905273438 350.7127075195312 536.9859008789062 L 350.7263793945312 536.9859008789062 C 400.3911437988281 536.9822998046875 447.0233764648438 512.7280883789062 475.4673767089844 472.1057739257812 L 596.6001586914062 299.1105346679688 C 619.9058227539062 265.8267517089844 628.8551635742188 225.4594268798828 621.7991333007812 185.4445343017578 C 614.7433471679688 145.4294281005859 592.5271606445312 110.5570907592773 559.242919921875 87.25142669677734 C 533.5281372070312 69.24553680419922 503.4072570800781 59.72809219360352 472.1368103027344 59.72809219360352 L 472.1246948242188 59.72809219360352 Z" stroke="none" fill="#707070"/>
                                    </g>
                                </svg>
                            </div>

                            <div class="logo_holder">
                                <div class="logo_">
                                    <img src="{{assets}}/images/g-logo-1.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="btn_group between_">
                            <div class="title_">
                                <p>الجريدة الرسمية</p>
                                <h4>حكومة أبوظبي</h4>
                            </div>

                            <div class="btn_"><span>قراءة المزيد</span><i class="icon-arrow-left"></i></div>
                        </div>
                    </a>
                </div>

                <div class="item_">
                    <a href="#" class="link_">

                        <div class="image_box">

                             <div class="img_">
                                <picture>
                                    <source srcset="{{assets}}/images/leg-img-03.webp" type="image/webp">
                                    <source srcset="{{assets}}/images/leg-img-03.jpg" type="image/jpeg">
                                    <img src="{{assets}}/images/leg-img-03.webp" alt="UAE">
                                </picture>
                            </div>

                            <div class="shape_">
                                <svg xmlns="http://www.w3.org/2000/svg" width="823" height="505" viewBox="0 0 823 505">
                                    <g id="Subtraction_1" data-name="Subtraction 1" transform="translate(0 -46)" fill="#414a60">
                                        <path d="M 822.4996337890625 550.4998168945312 L 0.5000168681144714 550.4998168945312 L 0.5000168681144714 46.49992752075195 L 822.4996337890625 46.50002670288086 L 822.4996337890625 550.4998168945312 Z M 472.1247253417969 59.22812652587891 C 422.2969055175781 59.23212814331055 375.51171875 83.56592559814453 346.9742126464844 124.320930480957 L 225.8414154052734 297.3161315917969 C 177.5732116699219 366.2516174316406 194.3866119384766 461.6040344238281 263.3214111328125 509.8726196289062 C 289.1197204589844 527.9368286132812 319.3392028808594 537.4853515625 350.7127075195312 537.4859008789062 L 350.7264099121094 537.4859008789062 C 400.5542297363281 537.4822998046875 447.3394165039062 513.1483154296875 475.8769226074219 472.3926391601562 L 597.0097045898438 299.3973388671875 C 620.39208984375 266.0041198730469 629.3707275390625 225.5040283203125 622.2916259765625 185.3577270507812 C 615.2125244140625 145.2110290527344 592.9232177734375 110.2241287231445 559.5297241210938 86.84182739257812 C 533.7304077148438 68.77682495117188 503.5104064941406 59.22812652587891 472.1368103027344 59.22812652587891 L 472.1247253417969 59.22812652587891 Z" stroke="none"/>
                                        <path d="M 821.9995727539062 549.9998779296875 L 821.9995727539062 46.99998092651367 L 1.000039100646973 46.99987030029297 L 1.000039100646973 549.9998779296875 L 821.9995727539062 549.9998779296875 M 472.1246032714844 58.72809219360352 L 472.1368103027344 58.72809219360352 C 503.6135864257812 58.72809219360352 533.9326782226562 68.30809020996094 559.8164672851562 86.43231964111328 C 593.3194580078125 109.8910903930664 615.6818237304688 144.9927673339844 622.783935546875 185.2708740234375 C 629.8862915039062 225.5486450195312 620.8782348632812 266.1813049316406 597.4192504882812 299.68408203125 L 476.2864685058594 472.6793212890625 C 447.6556091308594 513.5686645507812 400.7172546386719 537.9822998046875 350.7263793945312 537.9859008789062 L 350.7127075195312 537.9859008789062 C 319.2360534667969 537.9852905273438 288.91748046875 528.405517578125 263.0346984863281 510.2821044921875 C 193.8740386962891 461.8555297851562 177.0054779052734 366.1906433105469 225.4319305419922 297.0293273925781 L 346.564697265625 124.0342025756836 C 375.1955871582031 83.14565277099609 422.1338195800781 58.73209381103516 472.1246032714844 58.72809219360352 M 822.9995727539062 551.0009765625 L 822.9995727539062 550.9998779296875 L 3.911675230483525e-05 550.9998779296875 L 3.911675230483525e-05 45.99987030029297 L 822.9995727539062 45.99998092651367 L 822.9995727539062 551.0009765625 Z M 472.1246948242188 59.72809219360352 C 422.4599304199219 59.73209381103516 375.8278198242188 83.98609161376953 347.3838195800781 124.6077575683594 L 226.2510375976562 297.6028747558594 C 178.1409301757812 366.3125305175781 194.8993682861328 461.3526611328125 263.6082763671875 509.4629821777344 C 289.3220520019531 527.4679565429688 319.4423828125 536.9852905273438 350.7127075195312 536.9859008789062 L 350.7263793945312 536.9859008789062 C 400.3911437988281 536.9822998046875 447.0233764648438 512.7280883789062 475.4673767089844 472.1057739257812 L 596.6001586914062 299.1105346679688 C 619.9058227539062 265.8267517089844 628.8551635742188 225.4594268798828 621.7991333007812 185.4445343017578 C 614.7433471679688 145.4294281005859 592.5271606445312 110.5570907592773 559.242919921875 87.25142669677734 C 533.5281372070312 69.24553680419922 503.4072570800781 59.72809219360352 472.1368103027344 59.72809219360352 L 472.1246948242188 59.72809219360352 Z" stroke="none" fill="#707070"/>
                                    </g>
                                </svg>
                            </div>

                            <div class="logo_holder">
                                <div class="logo_">
                                    <img src="{{assets}}/images/g-logo-2.png" alt="">
                                </div>
                            </div>

                        </div>

                        <div class="btn_group between_">
                            <div class="title_">
                                <p>الجريدة الرسمية</p>
                                <h4>حكومة دبي </h4>
                            </div>

                            <div class="btn_"><span>قراءة المزيد</span><i class="icon-arrow-left"></i></div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
</main>

<div id="introPopup" class="intro_popup">
    <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg
            xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
            <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
        </svg></button>
    <div class="inner_grid">

        <div class="image_box">
            <div class="img_">
                <picture>
                    <source srcset="{{assets}}/images/banner-img-02.webp" type="image/webp">
                    <source srcset="{{assets}}/images/banner-img-02.jpg" type="image/jpeg">
                    <img src="{{assets}}/images/banner-img-02.webp" alt="UAE">
                </picture>
            </div>
        </div>

        <div class="content_area">
            <div class="text_area sm_">
                <p>وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                    المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من
                    الملاحظات او الانتقادات للتصميم الاساسي.</p>

                <h4>Related Law</h4>
                <p>قانون اتحادي رقم (51) لسنة 2006 في شأن مكافحة جرائم الاتجار بالبشر</p>

                <div class="btn_group">
                    <a href="{{menuLink 'participate'}}" class="btn_ outline_">
                        <span>يشارك</span>
                        <i class="icon-arrow-left"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

{{> footer}}
{{> script-home}}