{{> loader}}
{{> header}}

<main class="page_">

    <div class="breadcrumb_wrapper">
        <div class="container">
            <ul class="breadcrumb_">
                <li><a href="{{menuLink 'index'}}">الصفحة الرئيسية</a></li>
                <li><span>الأخبار</span></li>
            </ul>
        </div>
    </div>

    <section class="section_">
        <div class="container">

            <div class="title_wrapper have_margin between_">
                <div class="section_title">
                    <h2><span>الأخبار</span></h2>
                </div>

                <ul class="icon_link_list">
                    <li><a href="{{menuLink 'index'}}"><i class="icon-back"></i></a></li>
                </ul>
            </div> 

            <div class="news_listing">

                <div class="item_ animated_wrapper">
                    <a href="{{menuLink 'news-details'}}" class="link_">

                        <div class="image_box">
                            <div class="img_">
                                <picture>
                                    <source srcset="{{assets}}/images/news-img-01.webp" type="image/webp">
                                    <source srcset="{{assets}}/images/news-img-01.jpg" type="image/jpeg">
                                    <img src="{{assets}}/images/news-img-01.webp" alt="UAE">
                                </picture>
                            </div>
                        </div>

                        <div class="content_">
                            <div class="date_">2020-03-28</div>
                            <div class="title_">مجلس الوزراء يعتمد إصدار لائحة بمخالفات التدابير والإجراءات والتعليمات الاحترازية للحد من انتشار كورونا</div>
                        </div>

                    </a>
                </div>

                <div class="item_ animated_wrapper">
                    <a href="{{menuLink 'news-details'}}" class="link_">

                        <div class="image_box">
                            <div class="img_">
                                <picture>
                                    <source srcset="{{assets}}/images/news-img-02.webp" type="image/webp">
                                    <source srcset="{{assets}}/images/news-img-02.jpg" type="image/jpeg">
                                    <img src="{{assets}}/images/news-img-02.webp" alt="UAE">
                                </picture>
                            </div>
                        </div>

                        <div class="content_">
                            <div class="date_">2020-03-28</div>
                            <div class="title_">مجلس الوزراء يعتمد إصدار لائحة بمخالفات التدابير والإجراءات والتعليمات الاحترازية للحد من انتشار كورونا</div>
                        </div>

                    </a>
                </div>

                <div class="item_ animated_wrapper">
                    <a href="{{menuLink 'news-details'}}" class="link_">

                        <div class="image_box">
                            <div class="img_">
                                <picture>
                                    <source srcset="{{assets}}/images/news-img-03.webp" type="image/webp">
                                    <source srcset="{{assets}}/images/news-img-03.jpg" type="image/jpeg">
                                    <img src="{{assets}}/images/news-img-03.webp" alt="UAE">
                                </picture>
                            </div>
                        </div>

                        <div class="content_">
                            <div class="date_">2020-03-28</div>
                            <div class="title_">مجلس الوزراء يعتمد إصدار لائحة بمخالفات التدابير والإجراءات والتعليمات الاحترازية للحد من انتشار كورونا</div>
                        </div>

                    </a>
                </div>

                <div class="item_ animated_wrapper">
                    <a href="{{menuLink 'news-details'}}" class="link_">

                        <div class="image_box">
                            <div class="img_">
                                <picture>
                                    <source srcset="{{assets}}/images/news-img-04.webp" type="image/webp">
                                    <source srcset="{{assets}}/images/news-img-04.jpg" type="image/jpeg">
                                    <img src="{{assets}}/images/news-img-04.webp" alt="UAE">
                                </picture>
                            </div>
                        </div>

                        <div class="content_">
                            <div class="date_">2020-03-28</div>
                            <div class="title_">مجلس الوزراء يعتمد إصدار لائحة بمخالفات التدابير والإجراءات والتعليمات الاحترازية للحد من انتشار كورونا</div>
                        </div>

                    </a>
                </div>

                <div class="item_ animated_wrapper">
                    <a href="{{menuLink 'news-details'}}" class="link_">

                        <div class="image_box">
                            <div class="img_">
                                <picture>
                                    <source srcset="{{assets}}/images/news-img-05.webp" type="image/webp">
                                    <source srcset="{{assets}}/images/news-img-05.jpg" type="image/jpeg">
                                    <img src="{{assets}}/images/news-img-05.webp" alt="UAE">
                                </picture>
                            </div>
                        </div>

                        <div class="content_">
                            <div class="date_">2020-03-28</div>
                            <div class="title_">مجلس الوزراء يعتمد إصدار لائحة بمخالفات التدابير والإجراءات والتعليمات الاحترازية للحد من انتشار كورونا</div>
                        </div>

                    </a>
                </div>

                <div class="item_ animated_wrapper">
                    <a href="{{menuLink 'news-details'}}" class="link_">

                        <div class="image_box">
                            <div class="img_">
                                <picture>
                                    <source srcset="{{assets}}/images/news-img-06.webp" type="image/webp">
                                    <source srcset="{{assets}}/images/news-img-06.jpg" type="image/jpeg">
                                    <img src="{{assets}}/images/news-img-06.webp" alt="UAE">
                                </picture>
                            </div>
                        </div>

                        <div class="content_">
                            <div class="date_">2020-03-28</div>
                            <div class="title_">مجلس الوزراء يعتمد إصدار لائحة بمخالفات التدابير والإجراءات والتعليمات الاحترازية للحد من انتشار كورونا</div>
                        </div>

                    </a>
                </div>

            </div>

        </div>
    </section>

</main>

{{> footer}} 
{{> script-page}}